# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Santo
*.zip
src/test/
notes
*.eps
test.js
.txt
server
.vscode
Response.vue
questions-answers/
temp/
.env
# Local Netlify folder
.netlify
api.ts
.vercel
