@font-face {
    font-family: "Untitled Serif", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 300;
    src: url('./UntitledSans-Light.otf');
    font-display: swap;
}

@font-face {
    font-family: "Untitled Serif", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 400;
    src: url('./UntitledSans-Regular.otf');
    font-display: swap;
}

@font-face {
    font-family: "Untitled Serif", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 500;
    src: url('./UntitledSans-Medium.otf');
    font-display: swap;
}

@font-face {
    font-family: "Untitled Serif", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 700;
    src: url('./UntitledSans-Bold.otf');
    font-display: swap;
}

@font-face {
    font-family: "Untitled Serif", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 900;
    src: url('./UntitledSans-Black.otf');
    font-display: swap;
}

.untitled-serif {
    font-family: "Untitled Serif", Helvetica, Arial, Lucida, sans-serif;
}