/* Thin */
@font-face {
  font-family: "cheyenne";
  font-weight: 100;
  src: local("cheyenne"), url("./cheyenne-sans.thin.ttf") format("truetype");
  /* url('Brown-ThinBackslanted.woff2') format('woff2'), */
  /* url('Brown-ThinBackslanted.woff') format('woff'), */
}
@font-face {
  font-family: "cheyenne";
  font-weight: 100;
  font-style: italic;
  src: local("cheyenne"),
    url("./cheyenne-sans.thin-italic.ttf") format("truetype");
}
/* ExtraLight */
@font-face {
  font-family: "cheyenne";
  font-weight: 200;
  src: local("cheyenne"),
    url("./cheyenne-sans.extralight.ttf") format("truetype");
}
@font-face {
  font-family: "cheyenne";
  font-weight: 200;
  font-style: italic;
  src: local("cheyenne"),
    url("./cheyenne-sans.extralight-italic.ttf") format("truetype");
}
/* Light */
@font-face {
  font-family: "cheyenne";
  font-weight: 300;
  src: local("cheyenne"), url("./cheyenne-sans.light.ttf") format("truetype");
}
@font-face {
  font-family: "cheyenne";
  font-weight: 300;
  font-style: italic;
  src: local("cheyenne"),
    url("./cheyenne-sans.light-italic.ttf") format("truetype");
}
/* Regular */
@font-face {
  font-family: "cheyenne";
  font-weight: 400;
  src: local("cheyenne"), url("./cheyenne-sans.regular.ttf") format("truetype");
}
@font-face {
  font-family: "cheyenne";
  font-weight: 400;
  font-style: italic;
  src: local("cheyenne"), url("./cheyenne-sans.regular.ttf") format("truetype"); /* Don't have italic*/
}
/* Medium */
@font-face {
  font-family: "cheyenne";
  font-weight: 500;
  src: local("cheyenne"), url("./cheyenne-sans.medium.ttf") format("truetype");
}
@font-face {
  font-family: "cheyenne";
  font-weight: 500;
  font-style: italic;
  src: local("cheyenne"),
    url("./cheyenne-sans.medium-italic.ttf") format("truetype");
}
/* Semibold */
@font-face {
  font-family: "cheyenne";
  font-weight: 600;
  src: local("cheyenne"), url("./cheyenne-sans.semibold.ttf") format("truetype");
}
@font-face {
  font-family: "cheyenne";
  font-weight: 600;
  font-style: italic;
  src: local("cheyenne"),
    url("./cheyenne-sans.semibold-italic.ttf") format("truetype");
}
/* Bold */
@font-face {
  font-family: "cheyenne";
  font-weight: 700;
  src: local("cheyenne"), url("./cheyenne-sans.bold.ttf") format("truetype");
}
@font-face {
  font-family: "cheyenne";
  font-weight: 700;
  font-style: italic;
  src: local("cheyenne"),
    url("./cheyenne-sans.bold-italic.ttf") format("truetype");
}
/* Extrabold */
@font-face {
  font-family: "cheyenne";
  font-weight: 800;
  src: local("cheyenne"), url("./cheyenne-sans.extrabold.ttf") format("truetype");
}
@font-face {
  font-family: "cheyenne";
  font-weight: 800;
  font-style: italic;
  src: local("cheyenne"), url("./cheyenne-sans.extrabold-italic.ttf") format("truetype");
}
/* Black */
@font-face {
  font-family: "cheyenne";
  font-weight: 900;
  src: local("cheyenne"), url("./cheyenne-sans.black.ttf") format("truetype");
}
@font-face {
  font-family: "cheyenne";
  font-weight: 900;
  font-style: italic;
  src: local("cheyenne"),
    url("./cheyenne-sans.black-italic.ttf") format("truetype");
}

.cheyenne {
  font-family: "cheyenne";
}
