.collapsableHeader___fy\+Wx {
    background: #b4e0d8;
    border-radius: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 0;
    height: 0;
    justify-content: center;
    margin: 0 24px;
    max-width: 600px;
    overflow: hidden;
    text-align: left;
    transition: height .75s, margin-top .75s
}

.collapsableHeader___fy\+Wx p {
    color: #1d3a44;
    font-family: Untitled Sans, sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin: 0 20px 10px;
    padding: 0
}

.collapsableHeader___fy\+Wx .headerHeader___mxkPR {
    color: #1d3a44;
    display: flex;
    font-family: Brown LL, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 14px;
    margin: 0 0 20px 20px;
    text-transform: uppercase
}

.collapsableHeader___fy\+Wx .headerHeader___mxkPR .image___Ag9pL {
    height: 23px
}

.collapsableHeader___fy\+Wx .headerHeader___mxkPR .headerText___gq3aW {
    padding-left: 10px;
    padding-top: 6px
}

@media only screen and (min-width: 480px) {
    .collapsableHeader___fy\+Wx {
        margin: 0 auto;
        max-width: 550px
    }
}

.collapsed___tT2wb {
    height: 150px;
    margin-top: 30px
}

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background: transparent
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

body,
html {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    height: 100%;
    min-height: 100%
}

html {
    scroll-behavior: smooth
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available
}

/* @font-face {
    font-family: Brown LL;
    font-style: normal;
    font-weight: 100;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/brown-ll-web-thin.46a9b63910e188dabc98fbf44afb4621.woff2) format("woff2")
}

@font-face {
    font-family: Brown LL;
    font-style: normal;
    font-weight: 100;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/brown-ll-web-thin-latin.eedc2b103e182dce6e352f4826b2b784.woff2) format("woff2");
    unicode-range: u+0-ff, u+20ac, u+2122, u+feff, u+fffd
}

@font-face {
    font-family: Brown LL;
    font-style: normal;
    font-weight: 300;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/brown-ll-web-light.41c2535b0cce8449db6fe063234944e7.woff2) format("woff2")
}

@font-face {
    font-family: Brown LL;
    font-style: normal;
    font-weight: 300;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/brown-ll-web-light-latin.429431e846ce680a4ec583e8610e6ba7.woff2) format("woff2");
    unicode-range: u+0-ff, u+20ac, u+2122, u+feff, u+fffd
}

@font-face {
    font-family: Brown LL;
    font-style: normal;
    font-weight: 400;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/brown-ll-web-regular.2ee3696367a9540ef33b75821b0eb0d7.woff2) format("woff2")
}

@font-face {
    font-family: Brown LL;
    font-style: normal;
    font-weight: 400;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/brown-ll-web-regular-latin.fff3cf1a39282d23875c3217823160a5.woff2) format("woff2");
    unicode-range: u+0-ff, u+20ac, u+2122, u+feff, u+fffd
}

@font-face {
    font-family: Brown LL;
    font-style: normal;
    font-weight: 500;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/brown-ll-web-medium.458c8964ed067d6506d2242d31c94e5b.woff2) format("woff2")
}

@font-face {
    font-family: Brown LL;
    font-style: normal;
    font-weight: 500;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/brown-ll-web-medium-latin.cc8558e8d7dc243e74f73d4c0816221a.woff2) format("woff2");
    unicode-range: u+0-ff, u+20ac, u+2122, u+feff, u+fffd
}

@font-face {
    font-family: Brown LL;
    font-style: normal;
    font-weight: 700;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/brown-ll-web-bold.54ae42d0a970fd1a7a748ff651f2aaa1.woff2) format("woff2")
}

@font-face {
    font-family: Brown LL;
    font-style: normal;
    font-weight: 700;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/brown-ll-web-bold-latin.f891f18e14dabadec7a4b177d7797d4b.woff2) format("woff2");
    unicode-range: u+0-ff, u+20ac, u+2122, u+feff, u+fffd
}

@font-face {
    font-family: Untitled Sans;
    font-style: normal;
    font-weight: 300;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/untitled-sans-web-light.6567ac8bb3a7348219ba8a45f655f27b.woff2) format("woff2")
}

@font-face {
    font-family: Untitled Sans;
    font-style: normal;
    font-weight: 300;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/untitled-sans-web-light-latin.c12e94f7044ab1124f6efea73c517f1d.woff2) format("woff2");
    unicode-range: u+0-ff, u+20ac, u+2122, u+feff, u+fffd
}

@font-face {
    font-family: Untitled Sans;
    font-style: normal;
    font-weight: 400;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/untitled-sans-web-regular.467b61b6ff96244a3ee5f8775b2eab9d.woff2) format("woff2")
}

@font-face {
    font-family: Untitled Sans;
    font-style: normal;
    font-weight: 400;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/untitled-sans-web-regular-latin.5b3ab5f9e860e06f7c606cb0f50f0312.woff2) format("woff2");
    unicode-range: u+0-ff, u+20ac, u+2122, u+feff, u+fffd
}

@font-face {
    font-family: Untitled Sans;
    font-style: normal;
    font-weight: 500;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/untitled-sans-web-medium.2f7568933885a7c5a18abff4bc71a3b0.woff2) format("woff2")
}

@font-face {
    font-family: Untitled Sans;
    font-style: normal;
    font-weight: 500;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/untitled-sans-web-medium-latin.1db59c01ac6d9f546d2d31a03e688214.woff2) format("woff2");
    unicode-range: u+0-ff, u+20ac, u+2122, u+feff, u+fffd
}

@font-face {
    font-family: Untitled Sans;
    font-style: normal;
    font-weight: 700;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/untitled-sans-web-bold.4c85c2aeda570d4da18f79dd1b56d550.woff2) format("woff2")
}

@font-face {
    font-family: Untitled Sans;
    font-style: normal;
    font-weight: 700;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/untitled-sans-web-bold-latin.80591011833e9c2e000cb75ba152f570.woff2) format("woff2");
    unicode-range: u+0-ff, u+20ac, u+2122, u+feff, u+fffd
}

@font-face {
    font-family: Untitled Sans;
    font-style: normal;
    font-weight: 900;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/untitled-sans-web-black.b20d02210e262cd1bd7464c6b3fe28c8.woff2) format("woff2")
}

@font-face {
    font-family: Untitled Sans;
    font-style: normal;
    font-weight: 900;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/untitled-sans-web-black-latin.c15f4b32e1eb0690bc63b56680435eef.woff2) format("woff2");
    unicode-range: u+0-ff, u+20ac, u+2122, u+feff, u+fffd
}

@font-face {
    font-family: "Untitled Serif";
    font-style: normal;
    font-weight: 400;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/untitled-serif-web-regular.afba797c558f68480d312501f73be660.woff2) format("woff2")
}

@font-face {
    font-family: "Untitled Serif";
    font-style: normal;
    font-weight: 400;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/untitled-serif-web-regular-latin.b44142324c4bc1dcf2a290bc05acc0fc.woff2) format("woff2");
    unicode-range: u+0-ff, u+20ac, u+2122, u+feff, u+fffd
}

@font-face {
    font-family: "Untitled Serif";
    font-style: normal;
    font-weight: 500;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/untitled-serif-web-medium.16a5b9928a0c289db950463afff3e113.woff2) format("woff2")
}

@font-face {
    font-family: "Untitled Serif";
    font-style: normal;
    font-weight: 500;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/untitled-serif-web-medium-latin.8951b3665fa4b2af7dc23b43a4382fa3.woff2) format("woff2");
    unicode-range: u+0-ff, u+20ac, u+2122, u+feff, u+fffd
}

@font-face {
    font-family: "Untitled Serif";
    font-style: normal;
    font-weight: 700;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/untitled-serif-web-bold.d9f8bb4a39157e854203bc2f2816153a.woff2) format("woff2")
}

@font-face {
    font-family: "Untitled Serif";
    font-style: normal;
    font-weight: 700;
    src: url(https://buyflow-web-assets.noom.com/bfc2/media/untitled-serif-web-bold-latin.7ee467223c0a6badc8c8ca9eab5c7977.woff2) format("woff2");
    unicode-range: u+0-ff, u+20ac, u+2122, u+feff, u+fffd
} */

.grecaptcha-badge {
    visibility: hidden
}

.flex-column {
    display: flex;
    flex-direction: column
}

.flex-centered {
    align-items: center;
    display: flex;
    justify-content: center
}

iframe {
    border: 0;
    margin: 0;
    padding: 0
}