/*
1. Thin - 100
2. Light - 300
3. Regular - 400
4. Bold - 700
*/

@font-face {
  font-family: "Brown LL", sans-serif;
  font-weight: 100;
  src: local("Brown LL", sans-serif),
    url("woff2/Brown-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Brown LL", sans-serif;
  font-weight: 100;
  font-style: italic;
  src: local("Brown LL", sans-serif),
    url("woff2/Brown-ThinItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Brown LL", sans-serif;
  font-weight: 300;
  src: local("Brown LL", sans-serif),
    url("woff2/Brown-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Brown LL", sans-serif;
  font-weight: 300;
  font-style: italic;
  src: local("Brown LL", sans-serif),
    url("woff2/Brown-LightItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Brown LL", sans-serif;
  font-weight: 400;
  src: local("Brown LL", sans-serif),
    url("woff2/Brown-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Brown LL", sans-serif;
  font-weight: 400;
  font-style: italic;
  src: local("Brown LL", sans-serif),
    url("woff2/Brown-RegularItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Brown LL", sans-serif;
  font-weight: 700;
  src: local("Brown LL", sans-serif),
    url("woff2/Brown-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Brown LL", sans-serif;
  font-weight: 700;
  font-style: italic;
  src: local("Brown LL", sans-serif),
    url("woff2/Brown-Bold.woff2") format("woff2");
}

.brown-ll {
  font-family: "Brown LL", sans-serif;
}
